{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}{% set pageTitle = 'Afficher les voitures' %}
{% include 'pagination/_nav.html.twig' %}
    <h1>Voiture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ voiture.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ voiture.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voiture.description }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ voiture.content }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ voiture.modele }}</td>
            </tr>
            <tr>
                <th>Est_vendu</th>
                <td>{{ voiture.estVendu ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voitures_index') }}">back to list</a>

    <a href="{{ path('app_voitures_edit', {'id': voiture.id}) }}">edit</a>

    {{ include('voitures/_delete_form.html.twig') }}
{% endblock %}
